@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
}
.App{
  display: flex;
  flex-direction: row;
  gap: 12%;
  margin-left: 5%;
  margin-top: 2%;
}
.todo{
  border: 1px solid rgb(110, 110, 255);
  box-sizing: border-box;
  text-align: center;
  max-height: 500px;
  overflow: auto;
  position: fixed;
  box-shadow: 12px 12px 12px black, 12px 12px 12px rgb(110, 110, 255);
}
.Todo-header{
  font-size: x-large;
  background-color: rgb(110, 110, 255);
}
.doing{
  border: 1px solid rgb(255, 255, 117);
  margin-left: 30%;
  box-sizing: border-box;
  max-height: 500px;
  overflow: auto;
  text-align: center;
  position: fixed;
  box-shadow: 12px 12px 12px black, 12px 12px 12px rgb(255, 255, 117);
}
.Doing-header{
  font-size: x-large;
  background-color: rgb(255, 255, 117);
}
.done{
  border: 1px solid rgb(165, 255, 81);
  box-sizing: border-box;
  margin-left: 60%;
  max-height: 500px;
  overflow: auto;
  text-align: center;
  position: fixed;
  box-shadow: 12px 12px 12px black, 12px 12px 12px rgb(165, 255, 81);
}
.Done-header{
  font-size: x-large;
  background-color: rgb(165, 255, 81);
}
.list-group-item{
  border : 1px solid rgb(255, 255, 255);
  margin-top : 2%
}